In [1]:
l = [1,2,3,4,5]

In [3]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [3]:
l1 = ["Ayan","Khan","Arshad","Arsalan"]

In [6]:
for i in l1:
    print(i)

Ayan
Khan
Arshad
Arsalan

In [7]:
l1

['Ayan', 'Khan', 'Arshad', 'Arsalan']

In [9]:
for i in l1:
    print(i)
else:
    print("jb for loop pura chlega tb else execute hga") # in for-else , else tb hi execute hga tb for loop pura chlega

Ayan
Khan
Arshad
Arsalan
jb for loop pura chlega tb else execute hga

In [10]:
for i in l1:
    if i == "Arshad":
        break
    print(i)    
else:
    print("This will not execute if for loop beech mein ruk jyega in for-else loop")

Ayan
Khan

In [11]:
for i in l1:
    if i == "Khan":
        continue #continue skips the current iteration
    print(i)

Ayan
Arshad
Arsalan

In [12]:
range(5)

range(0, 5)

In [13]:
list(range(5))

[0, 1, 2, 3, 4]

In [14]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [5]:
l1

['Ayan', 'Khan', 'Arshad', 'Arsalan']

In [16]:
len(l1)

4

In [17]:
list(range(len(l1)))

[0, 1, 2, 3]

In [4]:
# for i in range(len(l1)):
#     print(l1[(len(l1)-1)-i])
# easy alternative for above code
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

Arsalan
Arshad
Khan
Ayan

In [6]:
l2 = [34,53,66,36,23,98,543,57,987,76,35]

In [7]:
even_index = list(range(0,len(l2),2))
print(even_index)
for i in even_index:
    print(l2[i])

[0, 2, 4, 6, 8, 10]
34
66
23
543
987
35

In [19]:
l3 = [1,2,3,4,5,6,7,8,9]
sum = 0
for i in l3:
    sum = sum + i
print("The sum of elements of list:",sum)

The sum of elements of list: 45