In [3]:
i = 0
while i < 10:
    print(f"The current value of 'i' is {i}")
    i = i + 1

The current value of 'i' is 0
The current value of 'i' is 1
The current value of 'i' is 2
The current value of 'i' is 3
The current value of 'i' is 4
The current value of 'i' is 5
The current value of 'i' is 6
The current value of 'i' is 7
The current value of 'i' is 8
The current value of 'i' is 9

In [9]:
# finding factorial using while loop
num = int(input("Enter your number:"))
a = num
fact = 1
while num > 1:
    fact = fact * num
    num = num - 1
print(f"Factorial of number '{a}' is:", fact)

Enter your number: 5

Factorial of number '5' is: 120

In [9]:
# Fibbonaci series- 0 1 1 2 3 5 8
num = int(input("Enter the number of element you are looking for:"))
count = 0
a,b = 0,1
while (count<num):
    print(a)
    c = a + b
    a = b
    b = c
    count = count + 1

Enter the number of element you are looking for: 5

0
1
1
2
3

In [3]:
#Fibonacci series in for loop
a, b = 0,1
for i in range(10):
    print(a)
    c = a + b
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

In [4]:
#reversing a given string using string slicing method
s = "ayan"
s[::-1]

'naya'

In [3]:
# reversing a string using while loop
word = input("Enter your string for reversal:")

Enter your string for reversal: ayan

In [4]:
word = input("Enter your string for reversal:")
reverse = ""
length = len(word)
while length>0:
    reverse = reverse + (word[length-1])
    length = length - 1
print(reverse)

naya

In [6]:
# print table of numbers
num = int(input("Enter number whose table you want:"))
i = 1
while i < 11:
    print(f"{num} * {i} = ",num*i)
    i = i + 1

Enter number whose table you want: 2

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
2 * 10 =  20

In [7]:
# while with else loop
n = 5
i = 1
while i < n:
    print(i)
    i = i + 1
else:
    print("This will be executed once your while loop is completed successfully")

1
2
3
4
This will be executed once your while loop is completed successfully

In [9]:
# while with else loop
n = 5
i = 1
while i < n:
    print(i)
    if i == 3:
        break
    i = i + 1
else:
    print("This will not execute if while loops breaks in between")

1
2
3

In [10]:
# Comprehension operation

In [11]:
# printing squares of elements of list and appending it in another list
l = [1,2,3,4,5]
l1 = []
for i in l:
    l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25]

In [13]:
# now using list comprehension to find squares of element present in list
l = [1,2,3,4,5]
l1 = [i**2 for i in l]
print(l1)

[1, 4, 9, 16, 25]

In [14]:
l = [1,2,3,4,5,6,7,8,9,10]
l1 = [i for i in l if i % 2 == 0]
print(l1)

[2, 4, 6, 8, 10]

In [16]:
# converting elements of list in upper case using comprehension method
l = ["ayan","khan","pwskills","arshad","arsalan"]
l1 = [i.upper() for i in l]
print(l1)

['AYAN', 'KHAN', 'PWSKILLS', 'ARSHAD', 'ARSALAN']

In [19]:
# Tuple comprehension
l = [1,2,3,4,5]
tup = (i**2 for i in l)
print(tup)
print(list(tup)) # will convert tuple into list

<generator object <genexpr> at 0x7f3ee01352a0>
[1, 4, 9, 16, 25]

In [20]:
d = {"key1":1 , "key2":2 , "key3":3 , "key":4}
d1 = {k:v**2 for k,v in d.items()}
print(d1)

{'key1': 1, 'key2': 4, 'key3': 9, 'key': 16}

In [21]:
{k:v**2 for k,v in d.items() if v**2 > 1} #will give the dictioanary whose value of 'value' is greater than 1

{'key2': 4, 'key3': 9, 'key': 16}

In [22]:
"""
FUNCTIONS
"""

'\nFUNCTIONS\n'

In [23]:
def test():
    pass # pass keyword will pass this code and will not give any error

In [28]:
def test1():
    print("This is my very first function")
# test1()    
test1() + "Ayan"

This is my very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [25]:
# print() is NoneType function

In [29]:
def test2():
    return "This is my very first return"

In [30]:
test2()

'This is my very first return'

In [32]:
test2() + " Ayan" # here "Ayan" gets concatenated to function named test2() because retun function returns the data type as it is

'This is my very first return Ayan'

In [42]:
def test3():
    return "Ayan", 23, 87.98, [1,2,3,4]
test3()

('Ayan', 23, 87.98, [1, 2, 3, 4])

In [43]:
a,b,c,d = test3()

In [44]:
a

'Ayan'

In [36]:
b

23

In [37]:
c

87.98

In [38]:
d

[1, 2, 3, 4]

In [45]:
def test4():
    a = 5 + 6 / 7
    return a
test4()

5.857142857142857

In [46]:
type(test4())

float

In [48]:
def test5(a,b,c):
    d = a+b/c
    return d
test5(10,5,2)

12.5

In [7]:
# storing numeric element of list in another list
l = [1,2,3,4,"ayan","khan",[1,2,3,4,5]]
l1 = []
def test7():
    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
        if type(i) == list:
            for j in i:
                l1.append(j)
    return l1
test7()

[1, 2, 3, 4, 1, 2, 3, 4, 5]

In [ ]:
# docstrings are the string which gives information about function

In [8]:
# storing numeric element of list in another list
l = [1,2,3,4,"ayan","khan",[1,2,3,4,5]]
l1 = []
def test7():
    """This is my function which append numeric element of list into another list"""
    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
        if type(i) == list:
            for j in i:
                l1.append(j)
    return l1
test7()

[1, 2, 3, 4, 1, 2, 3, 4, 5]

In [12]:
def test10(*args): # *args is used when we dont know how many arguments we have to pass in given function
    return args
test10()
"""
*args allows us to pass n-number of arguments.
*args is not a keyword, we can use anything like *ayan or *khan etc
*args return tuple
"""

()

In [14]:
def test11(*args,a):
    return args,a
test11(4,5,6,6, a = 2)

((4, 5, 6, 6), 2)

In [15]:
def test14(a,b,c=1,d=2):
    return a,b,c,d
test14(3,4) # a will take value 3 and b will take value 4

(3, 4, 1, 2)

In [17]:
test14(5,6,d=23)

(5, 6, 1, 23)

In [19]:
def test15(**kwargs):
    return kwargs
test15()
type(test15())
# **kwargs returns dictionary

dict