In [1]:
"""GENERATOR FUNCTIONS"""

'GENERATOR FUNCTIONS'

In [2]:
range(10)
"""
generator function is made by using yield keyword
"""

range(0, 10)

In [1]:
def test_fib(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b,a+b
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [3]:
def test_fib1():
    a,b = 0,1
    while True:
        yield a
        a,b = b,a+b
fib = test_fib1()
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [4]:
s = "ayan"
next(s) # throws an error because string is not an iterator but string is iterable

TypeError: 'str' object is not an iterator

In [6]:
s = "ayan"
a = iter(s) # iter() makes string iterator
print(type(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

<class 'str_iterator'>
a
y
a
n

In [7]:
# For loop mechanism
"""
for loop uses iter() and next() functions to iterate over a string
"""

'\nfor loop uses iter() and next() functions to iterate over a string\n'

In [8]:
"""
'int' object is not iterable
and we can only convert those items into iterator which is iterable
therefor we cannot convert 'int' into iterator
"""

"""
--iterator are those object in which we can go next and next and extract data
--iterable are those data which can be converted into iterator
"""

'\n--iterator are those object in which we can go next and next and extract data\n--iterable are those data which can be converted into iterator\n'

In [18]:
def count_test(n):
    count = 1
    while count < n:
        yield count
        count = count + 1
a = count_test(10)        
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
"""
LAMBDA FUNCTIONS- It is a reserved keyword in python
"""

'\nLAMBDA FUNCTIONS\n'

In [20]:
def test(a,b):
    return a**b
test(3,2)

9

In [23]:
# now writting above function using lambda function
variable = lambda a,b : a**b  # we use variable to store lambda function and whenever we want to call lambda function we just use variable name to call it

# this type of function is called one-liner function or lambda function or anonymous function

In [24]:
variable(3,2)

9

In [25]:
# lambda function for addition
add = lambda x,y : x+y
add(1,2)

3

In [29]:
c = int(input("Enter value in celsius to convert it into farheniet:"))
celsius_to_farheniet = lambda celsius : print("In farheniet it is:",(9/5)*celsius + 32)
celsius_to_farheniet(c)

Enter value in celsius to convert it into farheniet: 88

In farheniet it is: 190.4

In [36]:
n1,n2 = int(input("Enter first number:")), int(input("Enter second number:"))

maximum = lambda a,b : print("Maximum is:",a) if a>b else print("Maximum is:",b) 
maximum(n1,n2)

Enter first number: 44
Enter second number: 3

Maximum is: 44

In [39]:
# length of string using lambda function
string = input("Enter your string:")
length_string = lambda s: print("Length of your string is:",len(s))
length_string(string)

Enter your string: ayankhan

Length of your string is: 8

In [1]:
"""
Map, Reduce and Filter Function
"""

'\nMap, Reduce and Filter Function\n'

In [5]:
# creating function to square each element of list
l, l1 = [2,3,4,5,6], []
def test(l):
    for i in l:
        l1.append(i**2)
    return(l1)    
print(test(l))

[4, 9, 16, 25, 36]

In [7]:
# map() function takes 2 arguments i.e. (function, *iterables)

# now using map() function for above question
l = [2,3,4,5,6]
def sq(a):
    return a**2
map(sq, l) #this will give an object if map therefore we will wrap this object into list
list(map(sq, l))

[4, 9, 16, 25, 36]

In [8]:
# now using map() along with lambda()
l = [2,3,4,5,6]
list(map(lambda a: a**2, l))

[4, 9, 16, 25, 36]

In [15]:
# adding element of one list to another list of same index
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
l3 = []
def add_element(a,b):
    for i in range(0,len(l1)):
        l3.append( a[i] + b[i])
    return l3
add_element(l1,l2)   
print(l3)

[7, 9, 11, 13, 15]

In [16]:
# now using map() and lambda() function to solve above question
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
list(map(lambda x,y: x + y, l1 , l2 ))

[7, 9, 11, 13, 15]

In [4]:
# now using map() and external function for above question
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
def add(x,y):
    return x+y
list(map(add,l1,l2))

[7, 9, 11, 13, 15]

In [8]:
# converting string to upper case using map() function and storing it in list
s = "pwskills"
list(map(lambda a: a.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [9]:
"""
REDUCE FUNCTION() - used when we want single cumulative value
"""

'\nREDUCE FUNCTION()\n'

In [11]:
from functools import reduce # this is how we import reduce function

In [12]:
# reduce() takes two argumnets, same as map() function
# reudce() takes atmost 2 arguments

In [15]:
# adding elements of list using reduce() function
l = [1,2,3,4,5]
reduce(lambda x,y: x + y  , l )

15

In [19]:
# finding maximum number from list using reduce function
l = [1,2,3,4,5]
reduce(lambda m,n: m if m>n else n, l)

5

In [20]:
"""
FILTER FUNCTION - allows us to process an iterable and extract those items that satisfies given conditions
"""
filter() # takes similar arguments as map() and reduce()

'\nFILTER FUNCTION\n'

In [27]:
# finding even number from list and storing it in another list
l = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda a: a%2 == 0 , l))

[2, 4, 6, 8, 10]

In [31]:
# finding string whose length is less than equal to 7
l = ["Ayan","Arsalan","Arshad","Khan","Rourkela","Television"]
list(filter(lambda s: len(s)<=7 , l))

['Ayan', 'Arsalan', 'Arshad', 'Khan']